<h1 class="text-center mb-5 justify-content: center">Schedule your mentorship</h1>

<div class="container">
<%= simple_form_for [@mentorship, @booking], data: { controller: 'flatpickr' } do |f| %>
  <%= f.input :date, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
  <%= f.submit 'Schedule your mentorship' %>
<% end %>
</div>
