
<div class="container-fluid bg-dark">
  <div class="container p-4">
    <%= cl_image_tag @user.photo.key, height: 120, width: 120, crop: :fill, class: 'rounded-circle' %>
  </div>
</div>

<div class="container p-4">
  <div class="row">
    <% @user.mentorships.each do |mentorship| %>
      <div class="card-trip col-3 p-0 hover">
        <img src="https://images.unsplash.com/photo-1503428593586-e225b39bddfe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" />
          <div class="card-trip-infos">
            <div>
              <h2 class="my-2"><%= link_to mentorship.title, mentorship_path(mentorship), class:"text-decoration-none text-black"%></h2>
              <p><%= mentorship.content %></p>
            </div>
              <%# <h2 class="card-trip-pricing">£99.99</h2> %>

            </div>
          </div>
    <% end %>
  </div>
</div>
