<div class="container-fluid home-banner">
  <%# <img src="https://images.unsplash.com/photo-1655635949348-953b0e3c140a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2708&q=80" alt=""> %>
  <div class="banner-content">
    <h1>teste de titulo</h1>
    <p>teste de paragraph</p>
  </div>
</div>
