
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-col">
          <ul>
            <h6>company</h6>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">affiliate program</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-col">
          <ul>
            <h6>get help</h6>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">payment options</a></li>
            <li><a href="#">privacy policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-col">
          <h6>follow us</h6>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f "></i></a>
            <a href="#"><i class="fab fa-twitter "></i></a>
            <a href="#"><i class="fab fa-instagram "></i></a>
            <a href="#"><i class="fab fa-linkedin-in "></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-col">
          <%= link_to "/mentorships", class: "navbar-brand" do %>
            <%= image_tag "https://1000logos.net/wp-content/uploads/2022/10/MMs-Logo-1991.png", class: "logo", style: "max-width: 150px; max-height: 100px;" %>
          <% end %>
          <div class="text-right">
            <p><i class="fas fa-copyright"></i>
             All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
