<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">affiliate program</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">shipping</a></li>
            <li><a href="#">returns</a></li>
            <li><a href="#">order status</a></li>
            <li><a href="#">payment options</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#"><i class="fab fa-linkedin-in fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="footer-col">
          <%= link_to "/mentorships", class: "navbar-brand" do %>
            <%= image_tag "https://1000logos.net/wp-content/uploads/2022/10/MMs-Logo-1991.png", class: "logo", style: "max-width: 150px; max-height: 100px;" %>
          <% end %>
          <div class="text-right">
            <p><i class="fas fa-copyright"></i>
             All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
