<div class="container-fluid mentor-banner">
  <div class="mentor-banner-content">
    <h1>Be a mentor</h1>
    <p>Knowledge is better when is shared</p>
    <%= link_to "CREATE A MENTORSHIP", new_mentorship_path, class: 'btn btn-light rounded' %>
  </div>

</div>
