<ul class='icon-list' id="icon-list" data-controller="icon_menu">
  <div class='icon-button'>
    <li><i class="fa-solid fa-palette"></i></li>
    <p>arts</p>
  </div>

  <div class='icon-button'>
    <li><i class="fa-solid fa-briefcase"></i></li>
    <p>business</p>
  </div>

  <div class='icon-button'>
    <li><i class="fa-solid fa-medal"></i></li>
    <p>sports</p>
  </div>

  <div class='icon-button'>
    <li><i class="fa-solid fa-microchip"></i></li>
    <p>technology</p>
  </div>

  <div class='icon-button'>
    <li><i class="fa-solid fa-camera"></i></li>
    <p>photography</p>
  </div>

  <div class='icon-button'>
    <li><i class="fa-solid fa-utensils"></i></li>
    <p>cousine</p>
  </div>

  <div class='icon-button'>
    <li><i class="fa-solid fa-ghost"></i></li>
    <p>spirituality</p>
  </div>
</ul>
