
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 11em;
  max-height: 20em;
  margin: 10px;
  transition: .5s
}

.card-trip > img {
  height: 40%;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 10px;
  opacity: .7;
  margin: 0;
}

.card-trip:hover {
  transform:scale(1.1);
}

.card-trip .card-trip-infos {
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  // width: 40px;
}
