.footer {
  background-color: #000000;
  padding: 10px 0;
  text-size-adjust: 80%;
}

.footer-col {
  padding: 0 10px;
  margin-bottom: 20px;
}

.footer i {
  height: 40px;
  max-height: 40px;
}

.footer a {
  text-decoration: none;
  color: lightyellow;
}

.footer ul {
  list-style-type: none
}
.social-links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px
}

.logo {
  max-width: 100%;
  height: 40px;
  max-height: 40px;
}
.logo {
  max-width: 150px;
  max-height: 50px;
}
