.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  width: 300px;
  padding: 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#offerbutton {
//   background-color: red;
width: 190px;
font-size: 14px;
padding: 0px;
// border-color: black;
// transition: 1s;

}

// #offerbutton :hover {
//   color: light;
//   background-color: black;
//   border-radius: ;
// }
